/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:0px;
    -webkit-border-radius:0px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



.carregando {
	padding:230px 0px 200px 0px;
	background:url(../img/loading.gif) center center no-repeat;
	color:#777;
	font-size:12px;
	text-align:center;
}

.carregando2 {
	padding:130px 0px 100px 0px;
	background:url(../img/loading2.gif) center center no-repeat;
	color:#FFF;
	font-size:12px;
	text-align:center;
	text-shadow: 0 1px 0 #000000;
}

.topo {
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 999;
}

.topo .logotipo {
	background:#671464;
	text-align:center;
	padding:30px 10px 5px 10px;
	text-shadow: none;
	text-transform: none;
}

.topo .titulo_tela {
	text-align:center;
	font-weight:bold;
	color:#FFF;
	background:#303030;
	padding:8px 0px 8px 0px;
	font-size:18px;
	font-weight: normal;
	text-shadow:none !important;
}

.botoes-rodape {
	width:100%;
	height:66px;
	position:fixed;
	z-index:999;
	bottom:0px;
	left:0px;
	background:#003263;
	padding:0px
}

.botoes-rodape-bloco1 {
	width:25%;
	float:left;
	text-align:center;
	font-size:13px;
	color:#FFF;
	text-transform:none;
	padding-top:46px;
	padding-bottom:4px;
	background:top center no-repeat;
	background-size:38px;
	text-shadow:none !important;
}

.botoes-rodape-bloco2 {
	width:25%;
	float:left;
	text-align:center;
	font-size:13px;
	color:#003263;
	text-transform:none;
	padding-top:46px;
	padding-bottom:4px;
	background:top center no-repeat #ffe01b;
	background-size:38px;
	text-shadow:none !important;
}

.bt_voltar {
	min-width:10px;
	float:left;
	font-size:12px;
	font-weight:normal;
	padding:5px 0px 0px 10px;
}

#contato_mensagem {
	height:130px !important;
}

.lista-botoes {
	background:10px 3px no-repeat;
	background-size: 40px;
	border-bottom:1px solid #CCC;
	padding:20px 0px 20px 60px;
}

.lista_mensagens {
	border-bottom: 1px solid #CCC;
	background:#FFF;
	padding:15px 10px;
}

.lista_mensagens_data {
	font-size:12px;
	color: #000;
	font-weight: normal;
}

.lista_mensagens_titulo {
	font-size:15px;
	color: #003263;
	text-transform: uppercase;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.lista_mensagens_texto {
	font-size:14px;
	color: #777;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}


.lista_novidades {
	border-bottom: 1px solid #CCC;
	background:#FFF;
	padding:15px 10px;
}

.lista_novidades_data {
	font-size:12px;
	color: #000;
	font-weight: normal;
}

.lista_novidades_titulo {
	font-size:15px;
	color: #003263;
	text-transform: uppercase;
	font-weight: bold;
	text-align:left;
}



.lista_mensagens_ficha {
	border-bottom: 1px solid #CCC;
	background:#FFF;
	padding:15px 10px;
}

.lista_mensagens_ficha_data {
	font-size:12px;
	color: #000;
	font-weight: normal;
}

.lista_mensagens_ficha_titulo {
	font-size:15px;
	color: #003263;
	text-transform: uppercase;
	font-weight: bold;
	line-height:22px;
}

.lista_mensagens_ficha_texto {
	font-size:14px;
	color: #777;
	font-weight: normal;
	background:#f9f9f9;
	border-top:1px solid #CCC;
	margin:15px -10px -15px -10px;
	padding: 15px;
	line-height:22px;
	
}

.menu_lateral				{ background:#202020; width:260px; height:100%; position:fixed; top:0px; left:0px; z-index:999999; display:none; padding-top:25px; -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.4); box-shadow: 0 0 12px 0 rgba(0,0,0,0.4); }
.menu_lateral_botao			{ width:40px; height:40px; background:url(../img/001.png) center center no-repeat #202020; float:right; margin-top:13px; margin-right:-36px; border-radius:0px 8px 8px 0px; }
.menu_lateral_titulo		{ font-size:18px; min-width:10px; float:left; color:#FFF; padding:20px 0px 20px 20px;  text-shadow:none; }
.menu_lateral_link01		{ border-top:1px solid #393939; padding:13px 0px 13px 45px; font-size:14px; color:#FFF; font-weight:normal; background:url(../img/icon_01.png) left center no-repeat; text-transform:none; text-shadow:none; }
.menu_lateral_link02		{ border-top:1px solid #393939; padding:13px 0px 13px 45px; font-size:14px; color:#FFF; font-weight:normal; background:url(../img/icon_02.png) left center no-repeat; text-transform:none; text-shadow:none; }
.menu_lateral_link03		{ border-top:1px solid #393939; padding:13px 0px 13px 45px; font-size:14px; color:#FFF; font-weight:normal; background:url(../img/icon_03.png) left center no-repeat; text-transform:none; text-shadow:none; }
.menu_lateral_link04		{ border-top:1px solid #393939; padding:13px 0px 13px 45px; font-size:14px; color:#FFF; font-weight:normal; background:url(../img/icon_04.png) left center no-repeat; text-transform:none; text-shadow:none; }
.menu_lateral_link05		{ border-top:1px solid #393939; padding:13px 0px 13px 45px; font-size:14px; color:#FFF; font-weight:normal; background:url(../img/icon_05.png) left center no-repeat; text-transform:none; text-shadow:none; }
.menu_lateral_link06		{ border-top:1px solid #393939; padding:13px 0px 13px 45px; font-size:14px; color:#FFF; font-weight:normal; background:url(../img/icon_06.png) left center no-repeat; text-transform:none; text-shadow:none; }
.menu_lateral_link07		{ border-top:1px solid #393939; padding:13px 0px 13px 45px; font-size:14px; color:#FFF; font-weight:normal; background:url(../img/icon_07.png) left center no-repeat; text-transform:none; text-shadow:none; }
.menu_lateral_link08		{ border-top:1px solid #393939; padding:13px 0px 13px 45px; font-size:14px; color:#FFF; font-weight:normal; background:url(../img/icon_08.png) left center no-repeat; text-transform:none; text-shadow:none; }
.menu_lateral_link09		{ border-top:1px solid #393939; padding:13px 0px 13px 45px; font-size:14px; color:#FFF; font-weight:normal; background:url(../img/icon_09.png) left center no-repeat; text-transform:none; text-shadow:none; }


.ui-content { margin-top:20px !important; }

 a.sm2_link {}
 a.sm2_link:hover {}

 a.sm2_playing {}
 a.sm2_playing:hover {}

 a.sm2_paused {}
 a.sm2_paused:hover {}

.msg_sem_tarega				{ margin:15px; border:1px solid #CCC; background:#FFF; border-radius:3px; padding:15px; text-align:center; }

.lista_agenda				{ margin-bottom:-16px; }

.lista-terefas				{ border-bottom:1px solid #CCC; background:#FFF; padding:15px; text-align:left; }
.lista-terefas-titulo		{ font-size:16px; color:#000; font-weight:bold; margin-bottom:10px; line-height:19px; }
.lista-terefas-data			{ min-width:10px; float:left; padding:0px 20px 5px 20px; font-size:12px; color:#777; background:url(../img/002.png) left top no-repeat; }
.lista-terefas-hora			{ min-width:10px; float:left; padding:0px 20px 5px 20px; font-size:12px; color:#777; background:url(../img/003.png) left top no-repeat; }
.lista-terefas-local		{ padding:0px 0px 0px 20px; font-size:12px; color:#777; background:url(../img/004.png) left top no-repeat; }

.tarefa-bloco1				{ background:#ebebeb; text-align:center; padding:10px 5px; text-transform:uppercase; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.tarefa-bloco2				{ height:40px; padding:1px 0px; background:#CCC; }
.tarefa-bloco2-aba1			{ height:40px; background:url(../img/005.png) center center no-repeat #DDD; width:33.3333%; float:left; }
.tarefa-bloco2-aba2			{ height:40px; background:url(../img/006.png) center center no-repeat #DDD; width: calc(33.3333% - 2px); float:left; border-left:1px solid #CCC; border-right:1px solid #CCC; }
.tarefa-bloco2-aba3			{ height:40px; background:url(../img/007.png) center center no-repeat #DDD; width:33.3333%; float:left; }
.tarefa-bloco2-aba1-on		{ height:41px; background:url(../img/008.png) center center no-repeat #FFF; width:33.3333%; float:left; }
.tarefa-bloco2-aba2-on		{ height:41px; background:url(../img/009.png) center center no-repeat #FFF; width: calc(33.3333% - 2px); float:left; border-left:1px solid #CCC; border-right:1px solid #CCC; }
.tarefa-bloco2-aba3-on		{ height:41px; background:url(../img/010.png) center center no-repeat #FFF; width:33.3333%; float:left; }
.tarefa-bloco3				{ width: calc(100% - 30px); height: calc(100% - 221px); background:#FFF; padding:15px; color:#000; font-size:13px; position:fixed; left:0px; bottom:0px; line-height:24px; overflow:scroll; }
.tarefa-bloco4				{ width: calc(100% - 0px); height: calc(100% - 191px); background:#FFF; padding:0px; color:#000; font-size:13px; position:fixed; left:0px; bottom:0px; line-height:24px; overflow:scroll; display:none; }
.tarefa-bloco5				{ width: calc(100% - 30px); height: calc(100% - 221px); background:#FFF; padding:15px; color:#000; font-size:13px; position:fixed; left:0px; bottom:0px; line-height:24px; overflow:scroll; display:none; }



.mensagem {
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.8);
	position:fixed;
	z-index:9999;
	top:0;
	left:0;
	display:none;
}

.mensagem .mensagem_ajax {
	width:380px;
	min-height:100px;
	position:absolute;
	margin-top:-80px;
	margin-left:-190px;
	top:50%;
	left:50%;
	background:#FFF;
	-webkit-box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.3);
	-webkit-border-radius:6px;
	border-radius:6px;
	font-family:verdana;
	font-size:12px;
	color:#555;
}

.mensagem .botao_alerta {
	border:1px solid #666;
	background:#FFF;
	min-width:10px;
	padding:7px 10px;
	margin:5px;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-family:verdana;
	font-size:12px;
	color:#333;
	cursor:pointer;
}

.mensagem .botao_alerta:hover {
	background:#666;
	color:#FFF;
}

.barra-ecrever-mensagem	{
	position:fixed;
	bottom: 0px;
	right: 0px;
	background:#FFF;
	border-top:1px solid #CCC;
	height:50px;
	width: calc(100% - 0px);
}

.barra-ecrever-mensagem input[type=text] {
	width: calc(100% - 125px);
	border:0px;
	background:#FFF;
	padding:16px;
	font-family:arial;
	font-size:14px;
	outline:none;
}

.barra-ecrever-mensagem input[type=submit] {
	border-radius:6px;
	border:0px;
	background:#8b1;
	padding: 8px 0px;
	text-align:center;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFF;
    width:66px;
    float:right;
    margin:8px 7px 0px 0px
}

.mensagens-bloco {
	height: calc(100% - 71px);
	padding:10px;
	overflow-y: scroll;
	line-height:18px;
}

.mensagens-bloco-mensagens1 {
	border-radius:8px;
	border:1px solid #CCC;
	background:#FFF;
	padding:5px 10px;
	min-width:10px;
	max-width:260px;
	margin:5px 0px;
	float:left;
}

.mensagens-bloco-mensagens1 b {
	margin:0px;
	padding:0px;
}

.mensagens-bloco-mensagens1 p {
	margin:0px;
	padding:5px 0px 5px 0px;
}

.mensagens-bloco-mensagens1 span {
	margin:0px;
	padding:0px;
	font-size:10px;
	color:#999;
}

.mensagens-bloco-mensagens2 {
	border-radius:8px;
	border:1px solid #d2c1d0;
	background:#f0e7ef;
	padding:5px 10px;
	min-width:10px;
	max-width:260px;
	margin:5px 0px;
	float:right;
}

.mensagens-bloco-mensagens2 b {
	margin:0px;
	padding:0px;
}

.mensagens-bloco-mensagens2 p {
	margin:0px;
	padding:5px 0px 5px 0px;
}

.mensagens-bloco-mensagens2 span {
	margin:0px;
	padding:0px;
	font-size:10px;
	color:#999;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.cal1 {
  margin: 0px auto;
  max-width: 600px;
  font-size: 14px;
  text-shadow:none;
}
.cal1 .clndr .clndr-controls {
  display: inline-block;
  width:calc(100% - 20px);
  position: relative;
  margin-bottom: 0px;
  background:#671464;
  color:#FFF;
  padding:10px;
}
.cal1 .clndr .clndr-controls .month {
  float: left;
  width: calc(100% - 80px);
  text-align: center;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
  float: left;
  width: 40px;
}
.cal1 .clndr .clndr-controls .clndr-control-button.rightalign {
  text-align: right;
  width: 40px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  background: #ddd;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #ddd;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
  margin-top:-4px;
}
.cal1 .clndr .clndr-table .header-days {
  height: 30px;
  font-size: 10px;
  background: #FFF;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  color: #333;
}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {
  border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr {
  height: 40px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: center;
  text-align:center;
}
.cal1 .clndr .clndr-table tr .day {
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  width: 100%;
  height: inherit;
  background:#333;
  color:#FFF;
}
.cal1 .clndr .clndr-table tr .day:hover {
  background: #333;
}
.cal1 .clndr .clndr-table tr .day.today,
.cal1 .clndr .clndr-table tr .day.my-today {
  background: #444;
  color: #fff;
  font-weight:bold;
}
.cal1 .clndr .clndr-table tr .day.today:hover,
.cal1 .clndr .clndr-table tr .day.my-today:hover {
  background: #444;
  color: #fff;
  font-weight:bold;
}
.cal1 .clndr .clndr-table tr .day.today.event,
.cal1 .clndr .clndr-table tr .day.my-today.event {
  background: #444;
  color: #fff;
  font-weight:bold;
}
.cal1 .clndr .clndr-table tr .day.event,
.cal1 .clndr .clndr-table tr .day.my-event {
  background: #444;
  color: #fff;
  font-weight:bold;
}
.cal1 .clndr .clndr-table tr .day.event:hover,
.cal1 .clndr .clndr-table tr .day.my-event:hover {
  background: #444;
  color: #fff;
  font-weight:bold;
}
.cal1 .clndr .clndr-table tr .day.inactive,
.cal1 .clndr .clndr-table tr .day.my-inactive {
  background: #333;
}
.cal1 .clndr .clndr-table tr .day:last-child {
  border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month,
.cal1 .clndr .clndr-table tr .my-empty,
.cal1 .clndr .clndr-table tr .my-adjacent-month {
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  width: 100%;
  height: inherit;
  background: #222;
}
.cal1 .clndr .clndr-table tr .empty:hover,
.cal1 .clndr .clndr-table tr .adjacent-month:hover,
.cal1 .clndr .clndr-table tr .my-empty:hover,
.cal1 .clndr .clndr-table tr .my-adjacent-month:hover {
  background: #333;
}
.cal1 .clndr .clndr-table tr .empty:last-child,
.cal1 .clndr .clndr-table tr .adjacent-month:last-child,
.cal1 .clndr .clndr-table tr .my-empty:last-child,
.cal1 .clndr .clndr-table tr .my-adjacent-month:last-child {
  border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr:last-child .day,
.cal1 .clndr .clndr-table tr:last-child .my-day {
  border-bottom: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr:last-child .empty,
.cal1 .clndr .clndr-table tr:last-child .my-empty {
  border-bottom: 0px solid #000000;
}
.clndr-next-button,
.clndr-previous-button,
.clndr-next-year-button,
.clndr-previous-year-button {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.clndr-next-button.inactive,
.clndr-previous-button.inactive,
.clndr-next-year-button.inactive,
.clndr-previous-year-button.inactive {
  opacity: 0.5;
  cursor: default;
}